
    <!-- Vendor Scripts -->
    <script src="{{ site.url }}{{ site.baseurl }}/assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/vendor/@lottiefiles/lottie-player/dist/lottie-player.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="{{ site.url }}{{ site.baseurl }}/assets/vendor/cleave.js/dist/cleave.min.js"></script>

    <!-- Main Theme Script -->
    <script src="{{ site.url }}{{ site.baseurl }}/assets/js/theme.min.js"></script>
